body{
    background-image: url(img/mosaic.jpg);
    background-size: cover;
}

.profileImg{
    margin-top: 100px;
    margin-bottom: auto;
    height: 300px;
    width: 300px;
}

.carrouselImg{
    height: 640;
    width: 425;
}

.contenido{
    background-color: white;
}

.footer{
    background-color: #343a40;
}

a:hover{
    text-decoration: none;
}

.banners{
    background-color: #343a40;
    width: auto;
    height: auto;
}
