body{
    background-image: url(img/mosaic.jpg);
    background-size: cover;
}

.profileImg{
    margin-top: 100px;
    margin-bottom: auto;
    height: 300px;
    width: 300px;
}

.contenido{
    background-color: white;
}